* {
  font-family: "moonbold";
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
  width: 450px;
  height: 450px;
}
